
(require 'package)
(package-initialize)
(package-refresh-contents)

(setq package-archives
      '(("melpa" . "https://stable.melpa.org/packages/")))
(package-initialize)
(package-refresh-contents)

(dolist
    (package
     (list
      ;; start-package-list
      'dockerfile-mode
      'magit
      'markdown-mode
      'modus-themes
{% if lang_py %}
      'virtualenvwrapper
{% endif %}
      ;; end-package-list
      ))
  (package-install package))

(kill-emacs)
